.grid-container {
    display: grid;
    width: 60%;
    margin: 0 auto; 
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr)); /* Adjust width as needed */
    grid-gap: 0%; /* Adjust gap between items */
    border: 1px solid red;
}

.grid-container h3{
    display: grid;
    grid-column: 1 / -1; /*first to last column */
    width: 100%;

}

.grid-item {
    overflow: hidden; 
    width: 70%;
    margin: 0 auto; 
    border: 1px solid red;
}

.grid-item img {
    width: 100%; /* Ensure image fills its container */
    height: auto; /* Maintain aspect ratio */
}

