.grid-container {
    display: grid;
    width: 60%;
    margin: 5rem auto; 
    margin-top:2rem;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr)); /* Adjust width as needed */
    grid-gap: 0%; /* Adjust gap between items */
}

.grid-container h3{
    display: grid;
    grid-column: 1 / -1; /*first to last column */
    width: 100%;

}

.grid-item {
    overflow: hidden; 
    width: 80%;
    margin: 0 auto; 
}

.grid-item img {
    width: 100%; /* Ensure image fills its container */
    height: auto; /* Maintain aspect ratio */
}

.settings-container{
    display:flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2%; /* Relative padding */
    margin: 1%; /* Relative margin */
    width: 94%; /* Relative width */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 0rem 2rem 0 0;

  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    width:90%;
  }
