body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
}

header {
    background-color: #04aa6d;
    color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-image-container {
    text-align: center;
}

.profile-image-container img {
    width: 15rem; /* Fixed width */
    height: 15rem; /* Fixed height */
    object-fit: cover; /* Maintain aspect ratio and cover container */
    border-radius: 50%; /* Apply circular border radius */
    border: 2px solid #fff; /* Add a white border around the circular image */
    overflow: hidden; /* Hide any overflow */
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2%; /* Relative padding */
    margin: 1%; /* Relative margin */
    width: 25em; /* Relative width */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);       
}

.product-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2%; /* Relative margin */
}

footer {
    background-color: #04aa6d;
    color: #fff;
    padding: 1% 0; /* Relative padding */
    text-align: center;
    width: 100%;
}