body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
}

header {
    background-color: #04aa6d;
    color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav {
    background-color: #04aa6d;
    color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-image-container {
    margin-top: 10px;
    text-align: center;
}

.profile-image-container img {
    width: 15rem; /* Fixed width */
    height: 15rem; /* Fixed height */
    object-fit: cover; /* Maintain aspect ratio and cover container */
    border-radius: 50%; /* Apply circular border radius */
    border: 2px solid #fff; /* Add a white border around the circular image */
    overflow: hidden; /* Hide any overflow */
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 1%;
    padding: 2%; /* Relative padding */
    margin: 1%;
    width: calc(33.33% - 2%);
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    border-radius: 1%;
    margin-bottom: 2%; /* Relative margin */
}

.user-review {
    margin-top: 20px;
}

.user-review h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.user-review .form-group {
    margin-bottom: 20px;
}

.user-review label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.user-review .input,
.user-review .styled-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

.user-review .button {
    background-color: #04aa6d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-review .button:hover {
    background-color: #21825f;
}


/* Responsive styles */
@media screen and (max-width: 768px) {
    .product-card {
        width: calc(50% - 2%); /* Two cards per row */
    }
}

@media screen and (max-width: 480px) {
    .product-card {
        width: calc(100% - 2%); /* Single card per row */
    }
}

#remove-button {
    background-color: #ff4d4d; /* Red background color */
    color: white; /* White text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s; /* Smooth transition */
}

#remove-button:hover {
    background-color: #cc0000; /* Darker red background color on hover */
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #04aa6d;
}

input:focus + .slider {
    box-shadow: 0 0 1px #04aa6d;
}

input:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


footer {
    background-color: #04aa6d;
    color: #fff;
    padding: 1% 0;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .products-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product-card {
        width: calc(50% - 2%); /* Two cards per row */
    }
}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
    .product-card {
        width: calc(100% - 2%); /* Single card per row */
    }
}


