@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
}



body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* General Styles */
body {
    background-color: #f2f2f2;
}

header, nav, footer {
    background-color: #04aa6d;
    color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}



.profile-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-details h2 {
    margin-bottom: 10px;
}

.profile-info {
    margin-bottom: 10px;
}

.profile-info label {
    font-weight: bold;
    margin-right: 10px;
}

.admin-actions {
    margin-top: 10px;
}

.admin-button {
    background-color: #04aa6d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-button:hover {
    background-color: #21825f;
}

.top-reviews {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.top-reviews h2 {
    margin-bottom: 10px;
}

.top-reviews ul {
    list-style-type: none;
}

.top-reviews ul li {
    margin-bottom: 10px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 40px);
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.user-review {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.user-review h2 {
    margin-bottom: 10px;
}

.user-review .form-group {
    margin-bottom: 20px;
}

.user-review label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.user-review .input,
.user-review .styled-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

.user-review .button {
    background-color: #04aa6d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-review .button:hover {
    background-color: #21825f;
}

#remove-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#remove-button:hover {
    background-color: #cc0000;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.chat-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #04aa6d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width:120px
}

.chat-button:hover {
    background-color: #028a5e;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #04aa6d;
}

input:focus + .slider {
    box-shadow: 0 0 1px #04aa6d;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

footer {
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    .product-card {
        width: calc(50% - 40px);
    }
    .chat-button{
        width: 80px;
    }
}

@media screen and (max-width: 480px) {
    .product-card {
        width: calc(100% - 40px);
    }
}
