/* Styles for the navigation bar */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
#filters-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    overflow: hidden;
    display: grid;
    grid-auto-flow: column;
}

#filters-bar li a {
    display: block;
    font-family: "Inter", sans-serif;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#filters-bar li a:hover {
    background-color: #04AA6D;
}

@media (max-width: 768px) {
    #filters-bar ul {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}