ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  ul.topnav li {
    float: left;
    height: 51px;
    padding-right: 3px;
}
  
  ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  ul.topnav li a:hover:not(.active) {background-color: white;}
  
  ul.topnav li a.active {background-color: #04AA6D;}
  
  ul.topnav li.right {float: right;}
  
  body{
    background-color: #111;
  }

  img{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width:auto;
  }

  .topnav input[type=text] {
    border: none;
    margin: 2px 0px 2px 0px;
    font-size: 20px;
    height: 88%;
  }

  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }

  /* @media print{

  } */
  