/* General Styles */
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.settings-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vertical-navbar {
  flex: 1 1 20%;
  padding: 20px;
  background-color: #f9f9f9;
  border-right: 1px solid #ccc;
}

.vertical-navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.vertical-navbar li {
  margin-bottom: 10px;
}

.vertical-navbar a {
  display: block;
  padding: 10px;
  background-color: #ddd;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.vertical-navbar a:hover {
  background-color: #ccc;
}

.content-section {
  flex: 3 1 80%;
  padding: 20px;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.column {
  flex: 1 1 45%;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


h4 {
  margin-bottom: 10px;
}

.submit-button {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #45a049;
}

textarea,
input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

@media (max-width: 768px) {
  .settings-container {
      flex-direction: column;
  }

  .vertical-navbar {
      border-right: none;
      border-bottom: 1px solid #ccc;
      flex: 1 1 100%;
  }

  .content-section {
      flex: 1 1 100%;
  }

  .column {
      flex: 1 1 100%;
  }
}
