nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border: 1px solid red;
}

nav ul li {
  float: left;
  height: 51px;
  padding-right: 0px;
}

nav ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  ul.topnav li a:hover:not(.active) {
    background-color: white;
  }
  text-decoration: none;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

nav input[type="submit"] {
  display: none;
}
nav ul li a:hover:not(.active) {
  background-color: #04aa6d;
}

nav ul li a.active {
  background-color: #04aa6d;
}

nav ul li.right {
  float: right;
}

body {
  background-color: white;
}

img {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: auto;
}

nav input[type="text"] {
  border: none;
  margin: 2px 0px 2px 0px;
  font-size: 30px;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

