<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="filters.css">
    <title>Categories Bar</title>
</head>
<body>
  <nav id="filters-bar">
    <ul>
      <li><a href="filters.html">Clothing</a></li>
      <li><a href="filters.html">Tecnology</a></li>
      <li><a href="filters.html">Sports</a></li>
      <li><a href="filters.html">House and Garden</a></li>
      <li><a href="filters.html">Offers</a></li>
      <li><a href="filters.html">More</a></li>
    </ul>
  </nav>
    </nav>
  