ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border: 1px solid red;
}

ul.topnav li {
  float: left;
  height: 51px;
  padding-right: 0px;
}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;  ul.topnav li a:hover:not(.active) {background-color: white;}
  text-decoration: none;
}


ul.topnav li a:hover:not(.active) {background-color: #04AA6D;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}

body{
  background-color: white;
}

img{
  padding: 0px;
  margin: 0px;
  height: 100%;
  width:auto;
}

.topnav input[type=text] {
  border: none;
  margin: 2px 0px 2px 0px;
  font-size: 20px;
  height: 88%;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

/* Styles for the navigation bar */
#filters-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
}

#filters-bar li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


#filters-bar li a:hover {
  background-color: #04AA6D;
}

#filters-bar{
  border: 5px solid yellow;
}


/* @media print{

} */
